html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: rgb(193, 193, 64);
}
p, [for="abtype"]{
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}

fieldset{
	border: 3px solid black;
	border-radius: 25px;
	margin: 2rem 0 2rem 0;
}

legend{
	margin: 2rem 0 1rem 0;
	font-weight: bold;
	font-size: 1.5rem;
}

label{
	display: block;
	margin-bottom: 0.5rem;

}
textarea{
	height: 50%;
	width: 60%;
	font-size: 1rem;
	padding: 1rem;
	border: none;
	border-radius: 25px;
}

select{
	font-size: 1rem;
	width: 60%;
	margin: 1rem 0;
}
button{
	font-size: 1.5rem;
	width: 20%;
	margin: 1rem 0;
	background-color: navy;
	color: yellow;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 25px;
}

button:hover{
	color: yellow;
	background-color: black;
}

input:not([type="radio"]):not([type="checkbox"]),textarea,select/*used to exclude some elements*/{
	display: block;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	width: 60%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 0 1rem;
	border: none;
	border-radius: 25px;
}











